PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/shortlink_hub
JWT_ACCESS_SECRET=your_jwt_access_secret_min_32_chars_long
JWT_REFRESH_SECRET=your_jwt_refresh_secret_min_32_chars_long
CLIENT_URL=http://localhost:5174
IP_HASH_SALT=your_random_salt_for_ip_hashing
